.wrapper {
  width: 600px;
  margin: 0px auto; // Right up against the top of the document and in the center
}

#slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 30px auto; //This puts it 30px from the top, the rest are centered
}

#slider > img {
  width: 600px;
  height: 400px;
  float: left;
  display: none;
}

a {
  padding: 5px 10px;
  background-color: #F0F0F0;
  margin-top: 30px;
  text-decoration: none;
  color: #666;
}

a.left {
  float: left;
}

a.right {
  float: right;
}
